@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.slider {
  margin-top: 30px;
  
  position: relative;
}

.slide-list {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  overflow: hidden;
  height: 350px;
}

.slide {
  flex: 1 0 100%;
  position: relative;
}

.fadeInAnimation {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.slide-image {
  display: flex;
  margin: 0 auto;
  max-height: 600px;
  width: 100%;
  object-fit: contain;
}

.slide-title {
  text-align: center;
  margin-top: 10px;
}

.arrows {
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.arrow {
  height: 70px;
  width: 70px;
  
}
.arrow span {
  font-size: 50px;
}
.arrow span:hover {
  color: red;
}
.arrow:hover {
  cursor: pointer;
}

.left {
  margin-left: 5px;
}

.right {
  margin-right: 5px;
}

.dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: lightgray;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
}

.dot.selected {
  background-color: blue;
}
.dot:hover {
  cursor: pointer;
  background-color: red;
}
